:root {
  --color-light: white;
  --color-dark: #212121;
  --color-focused: #007bff;
  --color-error: #FD5361;
  
  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  
  --size-bezel: 8px;
  --size-radius: 4px;

  --gap: 4px;
  
  line-height: 1.4;
  
  font-family: 'Inter', sans-serif;
  font-size: calc(10px + .4vw);
  color: var(--color-text);
  background: var(--color-background);
  font-weight: 300;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.error-message {
  display: flex;
  align-items: normal;
  padding: 0px 14px;
  color: var(--color-error);
}
